LATITUDE= "xx.xxxxxxx"
LONGITUDE="xx.xxxxxxx"
NODE _ENV=""

NEWS_API_KEY=""
BRAPI_TOKEN=""
SERPAPI_KEY=""

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

GOOGLE_CALENDAR_IDS="seus e-mail pessoal ou calendar ids" # separate by ;
GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GEMINI_API_KEY=""
BASE_URL=""