LATITUDE= "xx.xxxxxxx"
LONGITUDE="xx.xxxxxxx"
NODE_ENV=""

NEWS_API_KEY=""
BRAPI_TOKEN=""
SERPAPI_KEY=""

GOOGLE_CALENDAR_IDS="seus e-mail pessoal ou calendar ids" # separate by ;
GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

CALLMEBOT_API_KEY=your_api_key_here
CALLMEBOT_WHATSAPP_NUMBER="551234567890"

NEXT_PUBLIC_VAPID_PUBLIC_KEY=sua_chave_publica
VAPID_PRIVATE_KEY=sua_chave_privada
VAPID_MAILTO=mailto:seu@email.com